<%- include('include/_header')%>

<!--Main site-->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light">Use below form for update an account</span>
    </div>
    <!--update user form-->
    <form method="POST" id="update_user">
      <div class="new_user">
        <div class="form-group">
          <label for="name" class="text-dark">Name</label>
          <input type="hidden" name="id" value="" />
          <input type="text" name="name" placeholder="mark stoinis" />
        </div>
        <div class="form-group">
          <label for="email" class="text-dark">email</label>
          <input type="text" name="email" placeholder="example@gmail.com" />
        </div>
        <div class="form-group">
          <label for="gender" class="text-dark">gender</label>
          <div class="radio inline">
            <input type="radio" name="gender" placeholder="male" />
            <label for="gender" class="text-dark">male</label>
          </div>
          <div class="radio inline">
            <input type="radio" name="gender" placeholder="female" />
            <label for="gender" class="text-dark">female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="status" class="text-dark">status</label>
          <div class="radio inline">
            <input type="radio" name="status" placeholder="active" />
            <label for="status" class="text-dark">active</label>
          </div>
          <div class="radio inline">
            <input type="radio" name="status" placeholder="inactive" />
            <label for="status" class="text-dark">inactive</label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
    <!--update user form-->
  </div>
</main>
<!--Main site-->
<%- include('include/_footer')%>
