<form action="/api/users" method="POST" id="add_user">
  <div class="new_user">
    <div class="form-group">
      <label for="name" class="text-dark">Name</label>
      <input type="hidden" name="id" value="" />
      <input type="text" name="name" placeholder="mark stoinis" />
    </div>
    <div class="form-group">
      <label for="email" class="text-dark">email</label>
      <input type="text" name="email" placeholder="example@gmail.com" />
    </div>
    <div class="form-group">
      <label for="gender" class="text-dark">gender</label>
      <div class="radio inline">
        <input type="radio" name="gender" placeholder="male" />
        <label for="gender" class="text-dark">male</label>
      </div>
      <div class="radio inline">
        <input type="radio" name="gender" placeholder="female" />
        <label for="gender" class="text-dark">female</label>
      </div>
    </div>
    <div class="form-group">
      <label for="status" class="text-dark">status</label>
      <div class="radio inline">
        <input type="radio" name="status" placeholder="active" />
        <label for="status" class="text-dark">active</label>
      </div>
      <div class="radio inline">
        <input type="radio" name="status" placeholder="inactive" />
        <label for="status" class="text-dark">inactive</label>
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn text-dark update"
        onclick="add_user_btn()"
      >
        Save
      </button>
    </div>
  </div>
</form>
