<tr>
  <td>1</td>
  <td>Userame</td>
  <td>example@gmail.com</td>
  <td>male</td>
  <td>active</td>
  <td>
    <a class="btn border-shadow update">
      <span class="text-gradient">
        <i class="fas fa-pencil"></i>
      </span>
    </a>
    <a class="btn border-shadow delete">
      <span class="text-gradient">
        <i class="fas fa-times"></i>
      </span>
    </a>
  </td>
</tr>
